.headerEditTest__container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 8px rgba(38, 37, 37, 0.07);
    border-radius: 24px;
    margin-top: 16px;
}
.headerEditTest__textGroup{
    display: flex;
    flex-direction: column;
    flex: 1;
    word-break: break-all;
    gap: 8px;
}

.headerEditTest__textGroup__title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #201E1E;
}

.headerEditTest__textGroup__description{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100px;
    font-size: 14px;
    overflow: hidden;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #625B71;
}

.headerEditTest__textGroup__iconGroup{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    }

.headerEditTest__picture {
    width: 230px;
    height: 168px;
    border-radius: 16px;
}

.iconIcon{
    display: flex;
    align-items: center;
    gap: 4px;
    height: 20px
}

.headerEditTest-arrowIcon{
    cursor: pointer;
}