.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-bar__icon {
    position: relative;
    display: block;
    left: 0;
    cursor: pointer;
}

.search-bar__icon-hidden {
    display: none;
}

.search-bar__visible {
    position: absolute;
    right: 150px;
    animation: serf 0.1s;
}

.serfOf {
    animation: serfOf 0.1s;
}

.iconOut {
    animation: 0.1s iconfOut;
}

.search-bar__hidden {
    position: absolute;
    right: 0px;
    opacity: 0;
    z-index: -10;
}

.search-bar__filed {
    width: 500px;
    height: 48px;
    padding: 0 40px;
    background: url("../../../assets/images/search-icon.svg") no-repeat 18px / 14px;
    border: 1px solid #AEAAAE;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.search-bar__close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

@keyframes serf {
    0% {
        opacity: 0.3;
        right: 0px;
    }
    50% {
        opacity: 0.6;
        right: 50px;
    }
    75% {
        opacity: 0.9;
        right: 100px;
    }
    100% {
        opacity: 1;
        right: 150px;
    }
}

@keyframes serfOf {
    0% {
        opacity: 1;
        right: 150px;
    }
    50% {
        opacity: 0.6;
        right: 100px;
    }
    75% {
        opacity: 0.3;
        right: 50px;
    }
    100% {
        opacity: 0;
        right: 0px;
    }
}


@keyframes iconfOut {
    0% {left: 15px;}
    50% {left: -5px;}
    100% {left: 0px;}
}