.catalog {
    margin-bottom: 56px;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 16px 0;
    padding: 0;
}

.catalog__title {
    color: var(--main-text-color);
}

.catalog__selects {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    width: 400px;
    height: 40px;
}

.catalog__select-style {
    background-color: var(--color-bg-select);
}

.catalog__select-style:hover {
    background-color: #E9F0FC;
}

.catalog__select-level {
    gap: 16px;
    min-width: 110px;
}

.catalog__select-choice {
    width: 110px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--color-bg-select);
}

.catalog__card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    height: 77%;
    margin-bottom: 32px;
}
