.deleteSectionModal__container{
    width: 400px;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.deleteSectionModal__Texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
}

.deleteSectionModal__Texts-title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #201E1E;
}

.deleteSectionModal__Texts-caption{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #49454F;
}

.deleteSectionModal__buttonGroup{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 0 24px;
}

.deleteSectionModal__buttonGroup-CancelButton{
    width: 102px;
    height: 40px;
    background: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #236BE2;
}

.deleteSectionModal__buttonGroup-DeletelButton{
    width: 106px;
    height: 40px;
    background: #236BE2;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 8px;
}
