.action-section {
    display: flex;
}

.action-section__header {
    display: flex;
    justify-content: flex-end;
    height: 64px;
    width: auto !important;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 45px !important;
}

.padding-0 {
    padding: 0 !important;
}

.action-section__wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.action-section__delete {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-bg-color);
    cursor: pointer;
}



